.footer p{
   text-align: center;
   font-size: 0.75rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}

.footer {
    padding: 3.5vh 0;
    background: rgba(0, 0, 0, 0.9);
}

.footer span {
    font-weight: bold;
}