.team {
    background: url(../img/team-bg.png) center/cover no-repeat;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.team .text-image{
    flex-direction: row-reverse;
    margin-top: 0;
}

.team .text-image section img{
    width: 80%;
}