@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "Banny";
  src: url(fonts/Banny-BoldRound.otf)
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.line{
  height: 5px;
  width: 6%;
  background: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
}

span {
  font-weight: bold;
}